
@{
    ViewBag.Title = "Carrito";
}

<h2>Carrito</h2>
<form method="post" action="~/Compra/ProducEnElCarrito">
    <label style="width:300px; text-align:center; color: black; font-family:'Agency FB'; font-size:18px">ELIJA UN PRODUCTO PARA PONER AL CARRITO:</label><br />
    <select name="idProducto" style="width:500px">
        @foreach (ObligatorioDominio.Producto producto in ObligatorioDominio.HabiaUnaVez.Instancia.Productos)
        {
            <option value="@producto.Id">@producto.NombreProducto - @producto.Descripcion - @producto.PrecioUnitario - @producto.TipoMoneda</option>
        }
    </select>
    <br /><label>CANTIDAD:</label><br />
    <input type="number" name="cantidad" style="width:50px" /><br />
    <label style="width:300px; text-align:center; color: black; font-family:'Agency FB'; font-size:18px">ELIJA LA COMPRA A LA QUE A&Ntilde;ADIRA EL PRODUCTO:</label><br />
    <select name="idCompra" style="width:500px">
        @foreach (ObligatorioDominio.Compra compra in ObligatorioDominio.HabiaUnaVez.Instancia.Compras)
        {
            if (compra.Cliente.Mail == Session["mailUser"].ToString() && compra.Terminada == false)
            {
                if (compra.FormaPago == 1 && compra.FormaEntrega == 1)
                {
                    <option value="@compra.Id">@compra.FechaCompra Forma de pago: Tarjeta - Entrega: Domicilio </option>
                }
                if (compra.FormaPago == 1 && compra.FormaEntrega == 2)
                {
                    <option value="@compra.Id">@compra.FechaCompra Forma de pago: Tarjeta - Entrega: Retiro del pickup </option>
                }
                if (compra.FormaPago == 2 && compra.FormaEntrega == 1)
                {
                    <option value="@compra.Id">@compra.FechaCompra Forma de pago: Efectivo contra entrega - Entrega: Domicilio </option>
                }
                if (compra.FormaPago == 2 && compra.FormaEntrega == 2)
                {
                    <option value="@compra.Id">@compra.FechaCompra Forma de pago: Efectivo contra entrega - Entrega: Retiro del pickup </option>
                }
            }
        }
    </select>
    <br /><br /><input type="submit" value="PONER EN CARRITO" style="width:500px; background-color: red; color: white" />
</form>
<p>@ViewBag.Total</p>
<p>@ViewBag.Verificar</p>
<form method="post" action="~/Compra/TerminarCompra">
    <label style="width:300px; text-align:center; color: black; font-family:'Agency FB'; font-size:18px">ELIJA LA COMPRA QUE VA A FINALIZAR</label><br />
    <select name="idCompra" style="width:500px">
        @foreach (ObligatorioDominio.Compra compra in ObligatorioDominio.HabiaUnaVez.Instancia.Compras)
        {
            if (compra.Cliente.Mail == Session["mailUser"].ToString() && compra.Terminada == false)
            {
                if (compra.FormaPago == 1 && compra.FormaEntrega == 1)
                {
                    <option value="@compra.Id">@compra.FechaCompra Forma de pago: Tarjeta - Entrega: Domicilio </option>
                }
                if (compra.FormaPago == 1 && compra.FormaEntrega == 2)
                {
                    <option value="@compra.Id">@compra.FechaCompra Forma de pago: Tarjeta - Entrega: Retiro del pickup </option>
                }
                if (compra.FormaPago == 2 && compra.FormaEntrega == 1)
                {
                    <option value="@compra.Id">@compra.FechaCompra Forma de pago: Efectivo contra entrega - Entrega: Domicilio </option>
                }
                if (compra.FormaPago == 2 && compra.FormaEntrega == 2)
                {
                    <option value="@compra.Id">@compra.FechaCompra Forma de pago: Efectivo contra entrega - Entrega: Retiro del pickup </option>
                }
            }
        }
    </select>
    <br /><br /><input type="submit" value="FINALIZAR COMPRA" style="width:500px; background-color: red; color: white"/>
</form>
<p>@ViewBag.Finalizada</p>

