
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css?family=Heebo:400,500,700|Monoton&display=swap" rel="stylesheet" />
    <title>AltaComun</title>
</head>
<body>
    <header>
        <h1>SHOPING-YA!</h1>
    </header>
    <nav>
        <ul>
            <li>
                <a href="@Url.Action("Catalogo","Producto")">CATALOGO</a>
            </li>
            <li>
                <a href="@Url.Action("Index","Login")">INGRESAR</a>
            </li>
            <li>
                <a href="@Url.Action("AltaComun","Cliente")" id="registrarse">REGISTRARSE</a>
            </li>
        </ul>
    </nav>
    <h2>Registrate como cliente</h2>
    <p>@Html.ActionLink("Para registrarte como empresa haz clik aqui", "AltaEmpresa", "Cliente")</p>
    <div>
        <form method="post" action="~/Cliente/X">
            <label>Nombre completo</label><br />
            <input type="text" name="nombre" /><br />
            <label>Cedula uruguaya</label><br />
            <input type="number" min="0" name="cedula" /><br />
            <label>Direccion</label><br />
            <input type="text" name="direccion" /><br />
            <label>Es de Montevideo?</label><br />
                <input type="radio" name="departamento" value="1" /><label>Si</label><br />
                <input type="radio" name="departamento" value="2" /><label>No</label><br />
            <label>E-mail</label><br />
            <input type="text" name="mail" /><br />
            <label>Contrase&ntilde;a</label><br />
            <input type="password" name="password" /><br />
            <label>Nombre de usuario</label><br />
            <input type="text" name="nombreUser" /><br />
            <label>Fecha de hoy</label><br />
            <input type="datetime-local" name="fechaRegistro" /><br />
            <input type="submit" value="Guardar" />
        </form>
        <p>@ViewBag.Mensaje</p>
    </div>
    <footer></footer>
    <style>
        * {
            margin: 0;
            padding: 0;
        }

        body {
            background-color: dimgray;
        }

        header {
            text-align: center;
            font-family: 'Monoton', cursiva;
            color: magenta;
            font-size: 40px;
            background-color: black;
            height: 3cm;
        }

        nav ul li {
            border: 1px solid black;
            width: 150px;
            height: 30px;
            display: inline-block;
            text-align: center;
            line-height: 40px;
            background-color: black;
            border-radius: 0 0 10px 10px;
        }

        nav {
            margin-right: 5px;
            float: right;
            clear: both;
        }

            nav a {
                font-family: 'Heebo', sans-serif;
                color: white;
                font-size: 100%;
            }

        a {
            text-decoration: none;
            color: black;
        }

        h2 {
            padding-top: 50px;
            padding-bottom: 30px;
            font-size: 60px;
            color: black;
            font-family: 'Notable', sans-serif;
            text-align: center;
        }

        p {
            padding-left: 10%;
            text-decoration: underline;
        }
        div{
            padding-left: 10%;
        }
        @@media screen and (max-width: 1024px) {
            header {
                font-size: 30px;
                height: 2cm;
            }
        }

        @@media screen and (max-width: 768px) {
            header {
                font-size: 30px;
                height: 2cm;
            }
        }

        @@media screen and (max-width: 500px) {
            header {
                font-size: 20px;
                height: 2cm;
            }

            nav ul li {
                width: 100px;
                height: 20px;
                position: relative;
            }

            nav a {
                font-size: 70%;
                position: absolute;
                top: 50%;
                margin-top: -20px;
                margin-left: -30px;
            }

            #registrarse {
                margin-left: -35px;
            }

            h2 {
                font-size: 40px;
            }
        }
    </style>
</body>
</html>
