
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css?family=Heebo:400,500,700|Monoton&display=swap" rel="stylesheet" />
    <title>Administradores</title>
</head>
<body>
    <header>
        <h1>SHOPING-YA!</h1>
    </header>
    <nav>
        <ul>
            <li>
                <a href="@Url.Action("Administrador","Login")">CATALOGO</a>
            </li>
            <li class="a">
                <a href="@Url.Action("Index","Login")">SALIR</a>
            </li>
            <li class="a">
                <a href="@Url.Action("AltaAdmin","Admin")">ADMINS</a>
            </li>
            <li id="abandonado">
                <a href="@Url.Action("CarritoAbandonado","Compra")">CARRITO ABANDONADO</a>
            </li>
            <li id="mas">
                <a href="@Url.Action("Ver","Admin")">MAS</a>
            </li>
        </ul>
    </nav>
    <h2>Catalogo</h2>
    <p>@Html.ActionLink("Para dar de alta un producto haz clik aqui", "AltaProducto", "Producto")</p>
    <div>
    </div>
    <footer></footer>
    <style>
        * {
            margin: 0;
            padding: 0;
        }

        body {
            background-color: dimgray;
        }

        header {
            text-align: center;
            font-family: 'Monoton', cursiva;
            color: magenta;
            font-size: 40px;
            background-color: black;
            height: 3cm;
        }

        nav ul li {
            border: 1px solid black;
            width: 150px;
            height: 30px;
            display: inline-block;
            text-align: center;
            line-height: 40px;
            background-color: black;
            border-radius: 0 0 10px 10px;
        }

        nav {
            margin-right: 5px;
            float: right;
            clear: both;
        }

            nav a {
                font-family: 'Heebo', sans-serif;
                color: white;
                font-size: 100%;
            }

        a {
            text-decoration: none;
            color: black;
        }

        #abandonado {
            width: 250px;
        }

        h2 {
            font-size: 40px;
            color: black;
            margin-left: 22%;
            font-family: 'Notable', sans-serif;
        }

        @@media screen and (max-width: 1024px) {
            header {
                font-size: 30px;
                height: 2cm;
            }
            #abandonado {
                width: 180px;
            }

            nav ul li {
                width: 120px;
            }

            nav a {
                font-size: 80%
            }
        }

        @@media screen and (max-width: 768px) {
            header {
                font-size: 30px;
                height: 2cm;
            }
            nav ul li {
                width: 60px;
            }
            nav a {
                font-size: 60%
            }
            #abandonado {
                width: 150px;
            }
        }

        @@media screen and (max-width: 500px) {
            header {
                font-size: 25px;
                height: 2cm;
            }

            nav ul li {
                width: 50px;
                height: 20px;
                position: relative;
            }

            nav a {
                font-size: 50%;
                position: absolute;
                top: 50%;
                margin-top: -20px;
                margin-left: -22px;
            }

            #abandonado {
                width: 120px;
            }
            #abandonado a {
                margin-left: -50px;
            }
            #mas {
                width: 30px;
            }
            #mas a {
                margin-left: -10px;
            }
            .a {
                width: 40px;
            }
            .a a {
                margin-left: -14px;
            }
        }
    </style>
</body>
</html>
